body {
    font-family: 'Montserrat';
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat-bold';
}

.container-fluid {
    padding: 7% 15%;
}


/*Navbar Styling*/

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
    font-weight: 200;
    font-size: 1.2rem;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-light';
}

p {
    font-size: 1rem;
    color: grey;
}


/* Headings */

.bigheading {
    font-family: 'Montserrat-black', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
    color: #fff;
}

.sectionheading {
    font-size: 3rem;
    line-height: 1.5;
    color: #343a40;
}


/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
    padding: 0.2rem 1rem;
}

#title {
    background-color: #ff4c68;
    color: white;
    text-align: left;
}

#title .container-fluid {
    padding: 3% 15% 7%;
}

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

@media (max-width:1028px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0deg);
    }
}


/* Features */

#features {
    font-family: 'Montserrat-bold';
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-title {
    font-size: 1.5rem;
}

.featurebox {
    padding: 4.5%;
}

.row-features {
    margin: 10% 0 10%;
}

.icon-features {
    color: #ef8172;
    margin-bottom: 5%;
}

.icon-features:hover {
    color: #ff4c68;
}


/* Testimonials */

#testimonials {
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-image {
    width: 15%;
    margin: 20px 20px 50px;
}


/* Pricing */

#pricing {
    color: grey;
    align-items: center;
}

.card-header {
    background-color: #343a40;
    color: #fff;
}

.card-body {
    line-height: 1;
}

.price-col {
    padding: 3% 2%;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}


/* cta */

#cta {
    background-color: #ff4c68;
    text-align: center;
}


/* Footer */

.footer-fa {
    margin: 20px 10px;
    color: #343a40;
}

.footer-fa:hover {
    color: #ff4c68;
}