body {
    font-family: 'Montserrat';
}

#title {
    background-color: #ff4c68;
    color: white;
}

.container-fluid {
    padding: 3% 15%;
}


/*Navbar Styling*/

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
    font-weight: 200;
    font-size: 1.2rem;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-light';
}

h1 {
    font-family: 'Montserrat-black', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}


/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
    padding: 0.2rem 1rem;
}

.title-image {
    margin-left: 10%;
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
}


/* Features */

#features {
    font-family: 'Montserrat-bold';
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.col-lg-4 {
    text-align: center;
    align-items: center;
}

.row-features {
    margin: 10% 0 10%;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    color: grey;
}

.icon-features {
    color: #ef8172;
    margin-bottom: 5%;
}

.icon-features:hover {
    color: #ff4c68;
}

.col-lg-4 {
    padding-bottom: 10%;
}


/* Testimonials */

#testimonials {
    text-align: center;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.carousel-item {
    padding: 7% 15%;
}

h2 {
    font-family: 'Montserrat-bold';
    font-size: 2rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-image {
    width: 15%;
    margin: 20px 20px 50px;
}


/* Pricing */

#pricing {
    padding: 100px;
    color: grey;
    text-align: center;
    align-items: center;
}

.card-header {
    background-color: #343a40;
    color: #fff;
}

.card-body {
    line-height: 1;
}

.price-col {
    padding: 3% 2%;
}